<div class="modal fade" id="detail" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detail" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detail">{{ bank?.name }} - {{bank?.type}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="bank-detail-header">
          <div class="card text-white bg-dark">
            <div class="card-header">{{bankDetail?.branchOffices}}</div>
            <div class="card-body">
              <h5 class="card-title">Sucursales</h5>
            </div>
          </div>
          <div class="card text-white bg-dark">
            <div class="card-header">{{bankDetail?.atMs}}</div>
            <div class="card-body">
              <h5 class="card-title">Cajeros automáticos</h5>
            </div>
          </div>
          <div class="card text-white bg-dark">
            <div class="card-header">{{bankDetail?.subagents}}</div>
            <div class="card-body">
              <h5 class="card-title">Subagentes</h5>
            </div>
          </div>
          <div class="card text-white bg-dark">
            <div class="card-header">{{bankDetail?.shareholders}}</div>
            <div class="card-body">
              <h5 class="card-title">Accionistas</h5>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-center mt-2">Información general</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="info_container">
              <label>Registro</label>
              <span>{{bankDetail?.registryNumber}}</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="info_container">
              <label>Razón social</label>
              <span>{{bankDetail?.businessName}}</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="info_container">
              <label>RNC</label>
              <span>{{bankDetail?.rnc}}</span>
            </div>
          </li>
          <li class="list-group-item" *ngIf="bankDetail?.authorizedOffer">
            <div class="info_container">
              <label>Autorizado a ofrecer</label>
              <span>{{bankDetail?.authorizedOffer}}</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="info_container">
              <label>Oficina principal</label>
              <span>{{bankDetail?.mainOffice}}</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="info_container">
              <label>Teléfono</label>
              <span>{{bankDetail?.phone}}</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="info_container">
              <label>Correo electrónico</label>
              <span>{{bankDetail?.email}}</span>
            </div>
          </li>
          <li class="list-group-item" *ngIf="bankDetail?.webPage">
            <div class="info_container">
              <label>Página web</label>
              <span>
                <a [href]="bankDetail?.webPage" target="_blank">{{bankDetail?.webPage}}</a>
              </span>
            </div>
          </li>
          <li class="list-group-item" *ngIf="bankDetail?.socialNetworks">
            <div class="info_container">
              <label>Redes Sociales</label>
              <div class="image-container">
                <div class="image-container-item" *ngFor="let item of bankDetail?.socialNetworks">
                  <a  [href]="item?.link" target="_blank">
                    <img [src]="item?.image" alt="">
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item" *ngIf="bankDetail?.mobilesAppStore">
            <div class="info_container">
              <label>Aplicación móvil</label>
              <div class="image-container-mobilesAppStore">
                <div class="image-container-item-mobilesAppStore" *ngFor="let item of bankDetail?.mobilesAppStore">
                  <a  [href]="item?.link" target="_blank">
                    <img [src]="item?.image" alt="" style="width: 147px;height:43.88px">
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
