<app-search></app-search>
<div class="row">
    <ng-container *ngFor="let bank of banks">
        <div class="col-lg-6">
            <app-bank [bank]="bank" (selectbank)="onSeleted($event)"></app-bank>
        </div>
    </ng-container>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{'disabled': pagination.currentPage === 1}">
                <a class="page-link" aria-label="Previous" (click)="previous()">
                  <span aria-hidden="true">&laquo; Anterior</span>
                </a>
              </li>
              <li class="page-item" [ngClass]="{'disabled': pagination.currentPage === pagination.totalPages}">
                <a class="page-link"  aria-label="Next" (click)="next()">
                  <span aria-hidden="true">Siguiente &raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>
</div>
<app-bank-detail [bank]="bank"></app-bank-detail>
